<!--wrapper-->
<div class="wrapper">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <h2 style="font-weight:bold; color:#003366; letter-spacing:2px; margin:0;">OFICONTA</h2>
            </div>
            <!-- Collapse button only for mobile -->
            <div class="toggle-icon ms-auto d-lg-none" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="true">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="sidebarMenu">
            <!-- Clientes -->
            <li style="background-color: {% if request.endpoint == 'main.clientes' %}#003366; color: white;{% endif %}">
                <a href="{{ url_for('main.clientes') }}" style="color: {% if request.endpoint == 'main.clientes' %}white{% endif %}">
                    <div class="parent-icon"><i class='bx bx-user-circle'></i></div>
                    <div class="menu-title">Clientes</div>
                </a>
            </li>

            <!-- Usuarios -->
            <li style="background-color: {% if request.endpoint == 'main.usuarios' %}#003366; color: white;{% endif %}">
                <a href="{{ url_for('main.usuarios') }}" style="color: {% if request.endpoint == 'main.usuarios' %}white{% endif %}">
                    <div class="parent-icon"><i class='bx bx-group'></i></div>
                    <div class="menu-title">Usuarios</div>
                </a>
            </li>

            <!-- Cerrar Sesión -->
            <li>
                <a href="{{ url_for('main.logout') }}">
                    <div class="parent-icon"><i class='bx bx-log-out'></i></div>
                    <div class="menu-title">Cerrar Sesión</div>
                </a>
            </li>
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->

    <!--start header -->
    <header>
        <div class="topbar d-flex align-items-center bg-dark shadow-none border-light-2 border-bottom">
            <nav class="navbar navbar-expand">
                <!-- Collapse button only for mobile -->
                <div class="mobile-toggle-menu text-white me-3 d-lg-none" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="true">
                    <i class='bx bx-menu'></i>
                </div>
                <div class="search-bar flex-grow-1">
                    <div class="position-relative search-bar-box">
                        <form>
                            <input type="text" class="form-control search-control" autofocus placeholder="Buscar...">
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--end header -->
</div>
<!--end wrapper-->
