<!--wrapper-->
<div class="wrapper">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="{{ url_for('static', filename='assets/imagenes/Logo-Waikiki-NEGRO.png') }}" alt="logo" height="35em" padding="1em">
            </div>
            <div class="toggle-icon ms-auto" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu collapse" id="sidebarMenu">
            <!-- Clientes -->
            <li style="background-color: {% if request.endpoint == 'main.clientes' %}#003366; color: white;{% endif %}">
                <a href="javascript:;" class="has-arrow" style="color: {% if request.endpoint == 'main.clientes' %}white{% endif %}">
                    <div class="parent-icon"><i class='bx bx-user-circle'></i></div>
                    <div class="menu-title">Clientes</div>
                </a>
                <ul>
                    <li style="background-color: {% if request.endpoint == 'main.clientes' %}#336699; color: white;{% endif %}">
                        <a href="{{ url_for('main.clientes') }}" style="color: {% if request.endpoint == 'main.clientes' %}white{% endif %};">Lista de Clientes</a>
                    </li>
                </ul>
            </li>

            <!-- Cerrar Sesión -->
            <li>
                <a href="{{ url_for('main.logout') }}">
                    <div class="parent-icon"><i class='bx bx-log-out'></i></div>
                    <div class="menu-title">Cerrar Sesión</div>
                </a>
            </li>
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->

    <!--start header -->
    <header>
        <div class="topbar d-flex align-items-center bg-dark shadow-none border-light-2 border-bottom">
            <nav class="navbar navbar-expand">
                <div class="mobile-toggle-menu text-white me-3" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false"><i class='bx bx-menu'></i></div>
                <div class="search-bar flex-grow-1">
                    <div class="position-relative search-bar-box">
                        <form>
                            <input type="text" class="form-control search-control" autofocus placeholder="Buscar...">
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--end header -->
</div>
<!--end wrapper-->
